<nav class="bg-[#F7F3EC] outline-2 outline-white fixed top-0 left-0 w-full shadow items-center px-6 z-50">
    <div class="max-w-6xl mx-auto px-4 py-4 flex items-center justify-between">
        <a href="{% url 'core:accueil' %}" class="text-xl font-bold">Endrias Hotel</a>

        <div class="flex items-center gap-10">

            <a href="{% url 'rooms:liste_chambres' %}"
                class="text-sm text-[#1C1C1C] no-underline">Chambres</a>

            {% if user.is_authenticated %}
            <a href="{% url 'booking:mes_reservations' %}"
                class="text-sm text-[#1C1C1C] no-underline">Mes réservations</a>

            <span class="text-sm text-[#B08D57]">{{ user.username }}</span>

            <form method="post" action="{% url 'logout' %}" style="display: inline; margin: 0;">
                {% csrf_token %}
                <button type="submit"
                    class="bg-none border-none text-[#1C1C1C] text-sm cursor-pointer p-0 font-inherit">Déconnexion</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}"
                class="text-[#B08D57] no-underline text-sm py-2 px-5 border border-[#B08D57] rounded-sm">Connexion</a>
            {% endif %}
        </div>
    </div>

</nav>